In [49]:
import pandas as pd

In [62]:
df_onco = pd.read_csv('/home/fer/Documents/cfDNA/OncoV6/Base_v6.csv')
df_onco.columns = df_onco.iloc[11]
df_onco = df_onco.drop(range(0,12))
df_onco = df_onco.drop(['Type', 'Function', 'Tier_oncoKB'], axis=1)
#df_onco = df_onco.set_index('ID')
df_onco

11,ACMG,ID,UEB-0205,UEB-0208,UEB-0209,UEB-0210,UEB-0211,UEB-0213,UEB-0214,UEB-0215,...,UEB-0226,UEB-0228,UEB-0230,UEB-0232,UEB-0233,UEB-0234,UEB-0235,UEB-0236,UEB-0212,UEB-0237
12,Uncertain significance,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Likely pathogenic,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;,loss_tumor;
14,Uncertain significance,ARHGAP35,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,;loss_cfDNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Likely pathogenic,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Likely pathogenic,ARID2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Uncertain significance,NSD1,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Pathogenic,RUNX1,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Uncertain significance,SF3B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Uncertain significance,SPOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN
76,Uncertain significance,CTNNB1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gain_tumor;

# cfDNA

In [63]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/merge_cna_seg.csv')
df = df[df['Corrected_Call'] != 'NEUT']
df = df[df['logR_Copy_Number'] > 0.3]
df

,chr,start,end,copy.number,event,logR,subclone.status,Corrected_Copy_Number,Corrected_Call,logR_Copy_Number,ID
1998,6,33500001,34000000,1,HETD,0.0745,0,1,HETD,9.872159,UEB_0228
2004,6,36500001,37000000,1,HETD,-0.0105,0,1,HETD,1.331183,UEB_0228
2005,6,37000001,37500000,1,HETD,-0.0038,0,1,HETD,1.986295,UEB_0228
2007,6,38000001,38500000,1,HETD,0.0278,0,1,HETD,5.117424,UEB_0228
2008,6,38500001,39000000,1,HETD,0.0079,0,1,HETD,3.137617,UEB_0228
...,...,...,...,...,...,...,...,...,...,...,...
98845,19,42500001,43000000,1,HETD,0.0467,0,1,HETD,5.907114,UEB_0208
98851,19,46500001,47000000,1,HETD,0.0331,0,1,HETD,4.846240,UEB_0208
98856,19,49500001,50000000,1,HETD,-0.0219,0,1,HETD,0.656503,UEB_0208
98858,19,51000001,51500000,1,HETD,-0.0036,0,1,HETD,2.032850,UEB_0208
98866,19,55000001,55500000,1,HETD,0.0173,0,1,HETD,3.626247,UEB_0208

In [64]:
df['Corrected_Copy_Number'].value_counts()

1    3912
Name: Corrected_Copy_Number, dtype: int64

In [65]:
import numpy as np

In [66]:
df_onco

11,ACMG,ID,UEB-0205,UEB-0208,UEB-0209,UEB-0210,UEB-0211,UEB-0213,UEB-0214,UEB-0215,...,UEB-0226,UEB-0228,UEB-0230,UEB-0232,UEB-0233,UEB-0234,UEB-0235,UEB-0236,UEB-0212,UEB-0237
12,Uncertain significance,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Likely pathogenic,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;,loss_tumor;
14,Uncertain significance,ARHGAP35,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,;loss_cfDNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Likely pathogenic,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Likely pathogenic,ARID2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Uncertain significance,NSD1,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Pathogenic,RUNX1,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Uncertain significance,SF3B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Uncertain significance,SPOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN
76,Uncertain significance,CTNNB1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gain_tumor;

In [67]:
df_cfDNA = pd.melt(df_onco, id_vars=['ID', 'ACMG'], value_vars=list(df_onco.columns[1:len(df)]))
df_cfDNA = df_cfDNA.dropna()
df_cfDNA = df_cfDNA[(df_cfDNA['value']!= 'loss_tumor;') & (df_cfDNA['value']!= 'gain_tumor;')]
df_cfDNA['CN'] = [1] * len(df_cfDNA)
df_cfDNA['Type'] = ['Deletion'] * len(df_cfDNA)
df_cfDNA

,ID,ACMG,11,value,CN,Type
80,CTCF,Uncertain significance,UEB-0208,;loss_cfDNA,1,Deletion
137,BRCA1,Likely pathogenic,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion
139,CDK12,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion
145,CTCF,Uncertain significance,UEB-0209,;loss_cfDNA,1,Deletion
159,MAP2K4,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion
...,...,...,...,...,...,...
1004,MAP2K4,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion
1007,NCOR1,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion
1008,NF1,Likely pathogenic,UEB-0228,;loss_cfDNA,1,Deletion
1012,PRKAR1A,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion
1023,TP53,Pathogenic,UEB-0228,;loss_cfDNA,1,Deletion

In [68]:
len(df_cfDNA['ID'].value_counts())

35

In [69]:
clinical =  pd.read_csv('/home/fer/Documents/cfDNA/Clinical/FinalDataBase_TimeTreat.csv')
clinical.head()

,ID_Final,ID_Tumor_Ernest,ID_Colombia,cfDNA concentration,ctDNA_ichor,Fecha toma de muestra tejido,Fecha toma de muestra plasma,Fecha de Patología,RE,RP,...,PESO (Kg),TALLA (m),IMC (kg/m)^2,Time_Tejido_Cirugia,Time_cfDNA_Cirugia,Time_Tejido_QX,Time_cfDNA_QX,Time_Tejido_RXT,Time_cfDNA_RXT,StatusTreat
0,UEB-0227,84,5771,0.28,0.01395,12/12/2016 0:00,11/29/2016 0:00,9/21/2016 0:00,1,1,...,64,1.57,25.96454217,Se extrajo primero la muestra,Se hizo primero la SX,Falta información,Falta información,Se hizo primero la RTX,Se hizo primero la RTX,Treated Tumor
1,UEB-0213,43,874,0.32,0.01495,9/21/2012 0:00,6/25/2012 0:00,6/9/2012 0:00,1,1,...,81,1.65,29.75206612,Se hizo primero la SX,Se hizo primero la SX,Se extrajo primero la muestra,Se hizo primero la QX,Se hizo primero la RTX,Se hizo primero la RTX,Treated Tumor
2,UEB-0209,31,461,0.36,0.01756,5/20/2011 0:00,6/15/2011 0:00,5/20/2011 0:00,0.6,0.6,...,61,1.4,31.12244898,Se hizo primero la SX,Se extrajo primero la muestra,Falta información,Falta información,Falta información,Falta información,Primary tratment-naive tumor
3,UEB-0222,79,5161,0.43,0,7/12/2016 0:00,7/12/2016 0:00,3/16/2016 0:00,1,0.9,...,66,1.57,26.77593411,Se hizo primero la SX,Se hizo primero la SX,Falta información,Falta información,Falta información,Falta información,Treated Tumor
4,UEB-0228,86,6077,0.48,0.01414,No aplica,No aplica,6/13/2017 0:00,0.95,0.8,...,Unknown,Unknown,Unknown,Falta información,Falta información,Falta información,Falta información,Falta información,Falta información,Unknown

In [70]:
lst = []
for i in df_cfDNA[11].unique():
    if i in list(clinical.ID_Final):
        df_i = df_cfDNA[df_cfDNA[11]==i]
        cl_i = clinical[clinical['ID_Final'] == i]
        lst.append(list(cl_i['StatusTreat']) * len(df_i))
flat_list = [item for sublist in lst for item in sublist]
df_cfDNA['TumorType'] = flat_list
df_cfDNA

,ID,ACMG,11,value,CN,Type,TumorType
80,CTCF,Uncertain significance,UEB-0208,;loss_cfDNA,1,Deletion,Treated Tumor
137,BRCA1,Likely pathogenic,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
139,CDK12,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
145,CTCF,Uncertain significance,UEB-0209,;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
159,MAP2K4,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
...,...,...,...,...,...,...,...
1004,MAP2K4,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1007,NCOR1,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1008,NF1,Likely pathogenic,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1012,PRKAR1A,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1023,TP53,Pathogenic,UEB-0228,;loss_cfDNA,1,Deletion,Unknown

In [71]:
#df_cfDNA.to_csv('/home/fer/Documents/cfDNA/Supplementary/CNV_cfDNA.csv')

# Filtrado de comprobación para diagrama de Venn

In [72]:
bed = pd.read_csv('/home/fer/Documents/cfDNA/Tumor/Data/GenesPanel.csv')
x = list(bed['Gene'])
bed_genes = list(set(x))

In [24]:
lst = []
for i in df_cfDNA.ID:
    if i in bed_genes :
        lst.append('True')
    else:
        lst.append('False')
df_cfDNA['bed'] = lst
df_cfDNA = df_cfDNA[df_cfDNA['bed'] == 'True']
df_cfDNA

/tmp/ipykernel_39926/1060955392.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cfDNA['bed'] = lst

,ID,Cytoband,11,value,CN,Type,TumorType,bed
80,CTCF,16q22.1,UEB-0208,;loss_cfDNA,1,Deletion,Treated Tumor,True
137,BRCA1,17q21.31,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor,True
139,CDK12,17q12,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor,True
145,CTCF,16q22.1,UEB-0209,;loss_cfDNA,1,Deletion,Primary tratment-naive tumor,True
159,MAP2K4,17p12,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor,True
...,...,...,...,...,...,...,...,...
984,CDK12,17q12,UEB-0228,;loss_cfDNA,1,Deletion,Unknown,True
1004,MAP2K4,17p12,UEB-0228,;loss_cfDNA,1,Deletion,Unknown,True
1007,NCOR1,17p12-17p11.2,UEB-0228,;loss_cfDNA,1,Deletion,Unknown,True
1008,NF1,17q11.2,UEB-0228,;loss_cfDNA,1,Deletion,Unknown,True
1023,TP53,17p13.1,UEB-0228,;loss_cfDNA,1,Deletion,Unknown,True

In [25]:
cfDNA_gene = list(df_cfDNA['ID'])

In [26]:
len(df_cfDNA['ID'].value_counts())

24

# Tumor

In [27]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Tumor/Data/CNVFilterSplitColumns.cns', sep = '\t')
df = df[df['depth']>10]
df = df[df['cn']!=2]
df

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469,0.283218,0.687257,-0.084862,25,0.042583,16.6011,NaN
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752,0.252940,0.812583,-0.404366,76,0.028779,44.7075,NaN
5,UEB_12,chr12,78392065,78606803,NAV3,0.539351,0.5771140.505121,3,575.621,0.198214,0.778169,0.176838,51,0.022235,35.1119,NaN
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,UEB_79,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
723,UEB_79,chrX,62194379,155113436,LOC101928402,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
724,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
725,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
726,UEB_79,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN

In [28]:
df['cn'].value_counts()

1    460
3     93
0     44
4      9
5      6
6      4
7      1
8      1
Name: cn, dtype: int64

In [29]:
filtro = pd.read_csv('/home/fer/Documents/cfDNA/Compendium_Cancer_Genes.tsv', sep = '\t')
x = list(filtro['SYMBOL'])
intogenDrivers = list(set(x))

In [30]:
lst = []
for i in df.gene:
    if i in intogenDrivers :
        lst.append('True')
    else:
        lst.append('False')
df['intogenDrivers'] = lst

In [31]:
df = df[df['intogenDrivers']=='True']

In [32]:
df

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_12,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_12,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_12,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,UEB_79,chrX,62194379,155113436,AR,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
722,UEB_79,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
724,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_79,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [33]:
df_tumor = pd.melt(df_onco, id_vars=['ID', 'Cytoband'], value_vars=list(df_onco.columns[1:len(df)]))
df_tumor = df_tumor.dropna()
df_tumor = df_tumor[(df_tumor['value']!= ';loss_cfDNA')]
df_tumor

         ID Cytoband        11        value
15     CTCF  16q22.1  UEB-0205  loss_tumor;
23    KDM5C  Xp11.22  UEB-0205  loss_tumor;
24    KDM6A   Xp11.3  UEB-0205  loss_tumor;
42    SMC1A  Xp11.22  UEB-0205  loss_tumor;
49    USP9X   Xp11.4  UEB-0205  loss_tumor;
...     ...      ...       ...          ...
1537  SMC1A  Xp11.22  UEB-0237  loss_tumor;
1539  STAG2     Xq25  UEB-0237  loss_tumor;
1544  USP9X   Xp11.4  UEB-0237  loss_tumor;
1547   CBFB  16q22.1  UEB-0237  gain_tumor;
1549   CDH1  16q22.1  UEB-0237  gain_tumor;

[139 rows x 4 columns]

In [34]:
df_tumor['value'].value_counts()

loss_tumor;              108
loss_tumor;loss_cfDNA     17
gain_tumor;               14
Name: value, dtype: int64

In [35]:
len(df_tumor['ID'].value_counts())

42

In [36]:
df_tumor

         ID Cytoband        11        value
15     CTCF  16q22.1  UEB-0205  loss_tumor;
23    KDM5C  Xp11.22  UEB-0205  loss_tumor;
24    KDM6A   Xp11.3  UEB-0205  loss_tumor;
42    SMC1A  Xp11.22  UEB-0205  loss_tumor;
49    USP9X   Xp11.4  UEB-0205  loss_tumor;
...     ...      ...       ...          ...
1537  SMC1A  Xp11.22  UEB-0237  loss_tumor;
1539  STAG2     Xq25  UEB-0237  loss_tumor;
1544  USP9X   Xp11.4  UEB-0237  loss_tumor;
1547   CBFB  16q22.1  UEB-0237  gain_tumor;
1549   CDH1  16q22.1  UEB-0237  gain_tumor;

[139 rows x 4 columns]

In [37]:
df.head()

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_12,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_12,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_12,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True

In [38]:
def insert_prefix(string):
    return 'UEB_' + str(string)

In [39]:
clinical['ID_Tumor_Ernest'] = list(map(insert_prefix, clinical['ID_Tumor_Ernest']))
clinical.head()

,ID_Final,ID_Tumor_Ernest,ID_Colombia,cfDNA concentration,ctDNA_ichor,Fecha toma de muestra tejido,Fecha toma de muestra plasma,Fecha de Patología,RE,RP,...,PESO (Kg),TALLA (m),IMC (kg/m)^2,Time_Tejido_Cirugia,Time_cfDNA_Cirugia,Time_Tejido_QX,Time_cfDNA_QX,Time_Tejido_RXT,Time_cfDNA_RXT,StatusTreat
0,UEB-0227,UEB_84,5771,0.28,0.01395,12/12/2016 0:00,11/29/2016 0:00,9/21/2016 0:00,1,1,...,64,1.57,25.96454217,Se extrajo primero la muestra,Se hizo primero la SX,Falta información,Falta información,Se hizo primero la RTX,Se hizo primero la RTX,Treated Tumor
1,UEB-0213,UEB_43,874,0.32,0.01495,9/21/2012 0:00,6/25/2012 0:00,6/9/2012 0:00,1,1,...,81,1.65,29.75206612,Se hizo primero la SX,Se hizo primero la SX,Se extrajo primero la muestra,Se hizo primero la QX,Se hizo primero la RTX,Se hizo primero la RTX,Treated Tumor
2,UEB-0209,UEB_31,461,0.36,0.01756,5/20/2011 0:00,6/15/2011 0:00,5/20/2011 0:00,0.6,0.6,...,61,1.4,31.12244898,Se hizo primero la SX,Se extrajo primero la muestra,Falta información,Falta información,Falta información,Falta información,Primary tratment-naive tumor
3,UEB-0222,UEB_79,5161,0.43,0,7/12/2016 0:00,7/12/2016 0:00,3/16/2016 0:00,1,0.9,...,66,1.57,26.77593411,Se hizo primero la SX,Se hizo primero la SX,Falta información,Falta información,Falta información,Falta información,Treated Tumor
4,UEB-0228,UEB_86,6077,0.48,0.01414,No aplica,No aplica,6/13/2017 0:00,0.95,0.8,...,Unknown,Unknown,Unknown,Falta información,Falta información,Falta información,Falta información,Falta información,Falta información,Unknown

In [40]:
def rename_id (string):
    if string in list(clinical['ID_Tumor_Ernest']):
        return list(clinical[clinical['ID_Tumor_Ernest']== string]['ID_Final'])[0]
rename_id('UEB_84')

'UEB-0227'

In [41]:
df['Sample'] = list(map(rename_id, df['Sample']))
df.head()

/tmp/ipykernel_39926/3468447392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sample'] = list(map(rename_id, df['Sample']))

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB-0234,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB-0234,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB-0234,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB-0234,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB-0234,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True

In [42]:
df.to_csv('/home/fer/Documents/cfDNA/Tumor/Data/CNVFilterSplitColumns.csv', index = False)

In [36]:
lst = []
for gene,ID in zip (df_tumor.ID, df_tumor[11]):
    df_i = df[(df['Sample']== ID) & (df['gene']==gene)]
    lst.append(list(df_i['cn'])[0])
df_tumor['CN'] = lst

In [37]:
lst = []
for i in df_tumor[11].unique():
    if i in list(clinical.ID_Final):
        df_i = df_tumor[df_tumor[11]==i]
        cl_i = clinical[clinical['ID_Final'] == i]
        lst.append(list(cl_i['StatusTreat']) * len(df_i))
flat_list = [item for sublist in lst for item in sublist]
df_tumor['TumorType'] = flat_list
df_tumor

         ID Cytoband        11        value  CN      TumorType
15     CTCF  16q22.1  UEB-0205  loss_tumor;   1  Treated Tumor
23    KDM5C  Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor
24    KDM6A   Xp11.3  UEB-0205  loss_tumor;   1  Treated Tumor
42    SMC1A  Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor
49    USP9X   Xp11.4  UEB-0205  loss_tumor;   1  Treated Tumor
...     ...      ...       ...          ...  ..            ...
1537  SMC1A  Xp11.22  UEB-0237  loss_tumor;   1  Treated Tumor
1539  STAG2     Xq25  UEB-0237  loss_tumor;   1  Treated Tumor
1544  USP9X   Xp11.4  UEB-0237  loss_tumor;   1  Treated Tumor
1547   CBFB  16q22.1  UEB-0237  gain_tumor;   3  Treated Tumor
1549   CDH1  16q22.1  UEB-0237  gain_tumor;   3  Treated Tumor

[139 rows x 6 columns]

In [38]:
def evaluate_cn (num):
    if num > 2:
        return 'Amplification'
    elif num < 2:
        return 'Deletion'
    else:
        return 'Neut'
evaluate_cn(3)

'Amplification'

In [39]:
df_tumor['Type'] = list(map(evaluate_cn, df_tumor['CN']))
df_tumor

         ID Cytoband        11        value  CN      TumorType           Type
15     CTCF  16q22.1  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
23    KDM5C  Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
24    KDM6A   Xp11.3  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
42    SMC1A  Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
49    USP9X   Xp11.4  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
...     ...      ...       ...          ...  ..            ...            ...
1537  SMC1A  Xp11.22  UEB-0237  loss_tumor;   1  Treated Tumor       Deletion
1539  STAG2     Xq25  UEB-0237  loss_tumor;   1  Treated Tumor       Deletion
1544  USP9X   Xp11.4  UEB-0237  loss_tumor;   1  Treated Tumor       Deletion
1547   CBFB  16q22.1  UEB-0237  gain_tumor;   3  Treated Tumor  Amplification
1549   CDH1  16q22.1  UEB-0237  gain_tumor;   3  Treated Tumor  Amplification

[139 rows x 7 columns]

In [40]:
#df_tumor.to_csv('/home/fer/Documents/cfDNA/Supplementary/CNV_tumor.csv')

# Filtrado de comprobación de diagrama de Venn

In [41]:
cfDNA_samples = ['UEB-0205','UEB-0208','UEB-0209','UEB-0210','UEB-0211','UEB-0213','UEB-0214','UEB-0215',
                 'UEB-0216','UEB-0217','UEB-0218','UEB-0219','UEB-0220','UEB-0221','UEB-0222','UEB-0223',
                 'UEB-0224','UEB-0226','UEB-0227','UEB-0228']

In [42]:
df_tumor = df_tumor[df_tumor[11].isin(cfDNA_samples)]
df_tumor

        ID  Cytoband        11        value  CN      TumorType           Type
15    CTCF   16q22.1  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
23   KDM5C   Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
24   KDM6A    Xp11.3  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
42   SMC1A   Xp11.22  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
49   USP9X    Xp11.4  UEB-0205  loss_tumor;   1  Treated Tumor       Deletion
..     ...       ...       ...          ...  ..            ...            ...
824  STAG2      Xq25  UEB-0222  loss_tumor;   1  Treated Tumor       Deletion
828   TP53   17p13.1  UEB-0222  loss_tumor;   1  Treated Tumor       Deletion
830    WT1     11p13  UEB-0222  loss_tumor;   1  Treated Tumor       Deletion
833  CCND1   11q13.3  UEB-0222  gain_tumor;   3  Treated Tumor  Amplification
843   SPOP  17q21.33  UEB-0222  gain_tumor;   3  Treated Tumor  Amplification

[76 rows x 7 columns]

In [43]:
len(df_tumor['ID'].value_counts())

38

In [48]:
tumor_gene = list(df_tumor['ID'])

In [55]:
x = pd.DataFrame({'cfDNA':cfDNA_gene})
y = pd.DataFrame({'Tumor':tumor_gene})
z = pd.concat([x,y])
#z.to_csv('/home/fer/Documents/cfDNA/GenesCompartidos.csv')

# Suplementary march OncoKB

In [120]:
df_cfDNA

,ID,ACMG,11,value,CN,Type,TumorType
80,CTCF,Uncertain significance,UEB-0208,;loss_cfDNA,1,Deletion,Treated Tumor
137,BRCA1,Likely pathogenic,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
139,CDK12,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
145,CTCF,Uncertain significance,UEB-0209,;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
159,MAP2K4,Uncertain significance,UEB-0209,loss_tumor;loss_cfDNA,1,Deletion,Primary tratment-naive tumor
...,...,...,...,...,...,...,...
1004,MAP2K4,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1007,NCOR1,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1008,NF1,Likely pathogenic,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1012,PRKAR1A,Uncertain significance,UEB-0228,;loss_cfDNA,1,Deletion,Unknown
1023,TP53,Pathogenic,UEB-0228,;loss_cfDNA,1,Deletion,Unknown

In [121]:
df_cfdna = pd.read_csv('/home/fer/Downloads/CNV_cfDNA (1).csv')
df_cfdna['Gene'] = list(df_cfDNA['ID'])
df_cfdna

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN,Gene
0,UEB-0208,Treated Tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF
1,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17q21.31,Deletion,1,BRCA1
2,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17q12,Deletion,1,CDK12
3,UEB-0209,Primary tratment-naive tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF
4,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17p12,Deletion,1,MAP2K4
...,...,...,...,...,...,...,...,...,...
104,UEB-0228,Unknown,17,500001,81000000,17p12,Deletion,1,MAP2K4
105,UEB-0228,Unknown,17,500001,81000000,17p12-17p11.2,Deletion,1,NCOR1
106,UEB-0228,Unknown,17,500001,81000000,17q11.2,Deletion,1,NF1
107,UEB-0228,Unknown,17,500001,81000000,17q24.2,Deletion,1,PRKAR1A
108,UEB-0228,Unknown,17,500001,81000000,17p13.1,Deletion,1,TP53

In [122]:
df_tumor = pd.read_csv('/home/fer/Downloads/CNV_tumor (1).csv')
df_tumor

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN
0,UEB-0205,Treated Tumor,chr16,66310597,72173177,16q22.1,Deletion,1
1,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
2,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.3,Deletion,1
3,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
4,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1
...,...,...,...,...,...,...,...,...
134,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
135,UEB-0237,Treated Tumor,chrX,62194379,155113436,Xq25,Deletion,1
136,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1
137,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3
138,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3

In [123]:
data_onco = pd.read_excel('/home/fer/Downloads/ClassifyTier.xlsx')
data_onco.head()

,Gene,Type,oncoKB/Tier,drugs_oncoKB,Unnamed: 4,TypeOfCancer,DrugsApprovedByFDA
0,ARID1A,DEL,II,NaN,NaN,NaN,NaN
1,ATRX,DEL,II,NaN,NaN,NaN,NaN
2,BRCA1,DEL,I,Olaparib_Talazoparib,NaN,Breast Cancer,Olaparib_Talazoparib
3,BRCA2,DEL,I,Olaparib_Talazoparib,NaN,Breast Cancer,Olaparib_Talazoparib
4,CDK12,DEL,I,Olaparib,NaN,Prostate Cancer,Olaparib

In [124]:
data_clinic =  pd.read_csv('/home/fer/Downloads/FinalDataBase_TimeTreat (1).csv')
data_clinic.head ()

,ID_Final,ID_Tumor_Ernest,ID_Colombia,cfDNA concentration,ctDNA_ichor,Fecha toma de muestra tejido,Fecha toma de muestra plasma,Fecha de Patología,RE,RP,...,TALLA (m),IMC (kg/m)^2,Time_Tejido_Cirugia,Time_cfDNA_Cirugia,Time_Tejido_QX,Time_cfDNA_QX,Time_Tejido_RXT,Time_cfDNA_RXT,StatusTreat_cfDNA,StatusTreat_Tumor
0,UEB-0205,5,51,0.81,0,8/12/2011 0:00,9/27/2011 0:00,9/27/2011 0:00,1,0.4,...,1.68,19.48696145,0.0,1.0,0.0,0.0,0.0,0.0,Treated Tumor,Primary tratment-naive tumor
1,UEB-0208,29,428,0.88,0.01832,3/16/2011 0:00,3/15/2011 0:00,4/15/2011 0:00,Positivo 80%,Negativo,...,1.55,24.14151925,0.0,0.0,0.0,0.0,NaN,NaN,Primary tratment-naive tumor,Primary tratment-naive tumor
2,UEB-0209,31,461,0.36,0.01756,5/20/2011 0:00,6/15/2011 0:00,5/20/2011 0:00,0.6,0.6,...,1.4,31.12244898,0.0,1.0,NaN,NaN,NaN,NaN,Treated Tumor,Primary tratment-naive tumor
3,UEB-0210,30,466,1.27,0.01458,5/13/2011 0:00,5/24/2011 0:00,5/13/2011 0:00,1,1,...,1.64,21.93634741,1.0,1.0,0.0,0.0,0.0,0.0,Treated Tumor,Treated Tumor
4,UEB-0211,33,469,1.07,0.02001,7/6/2011 0:00,4/26/2011 0:00,2/22/2011 0:00,1,1,...,1.56,29.58579882,0.0,0.0,1.0,1.0,0.0,0.0,Treated Tumor,Treated Tumor

In [125]:
data_gene_tum = pd.read_csv('/home/fer/Documents/cfDNA/Tumor/Data/CNVFilterSplitColumns.cns', sep = '\t')
data_gene_tum

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15
0,UEB_10,chrY,10500,10040127,-,-6.154310,-4.35101-7.51274,0,0.012651,14.138200,2.998510,-13.874100,64,0.828376,15.63940,NaN
1,UEB_10,chrY,13105053,59363066,-,-7.541800,-6.55608-8.57367,0,0.006079,10.967000,-0.796005,-13.870500,99,0.566176,26.81010,NaN
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408000,0.177407,0.753262,0.295590,31,0.024553,21.42040,NaN
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469000,0.283218,0.687257,-0.084862,25,0.042583,16.60110,NaN
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752000,0.252940,0.812583,-0.404366,76,0.028779,44.70750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,UEB_7,chrY,10500,10040127,-,-4.573630,-2.89201-5.93358,0,0.017611,9.218380,2.682350,-13.970900,64,0.760329,15.32330,NaN
730,UEB_7,chrY,13105053,59363066,-,-6.051250,-5.10821-7.03942,0,0.006247,11.797700,0.583775,-14.003200,99,0.554512,26.26820,NaN
731,UEB_8,chrY,10500,3559941,-,0.162526,1.25495-1.00983,1,0.038452,3.932420,2.876840,-4.424110,24,0.507092,5.17612,NaN
732,UEB_8,chrY,3559941,10040127,-,-9.339430,-7.53683-11.069,0,0.002047,11.258300,0.075962,-13.976400,40,0.934354,10.32520,NaN
733,UEB_8,chrY,13105053,59363066,-,-7.202200,-6.2067-8.11639,0,0.006592,11.509100,-0.343575,-14.007200,99,0.571064,26.57340,NaN

## Match gene

In [126]:
df_cfdna

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN,Gene
0,UEB-0208,Treated Tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF
1,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17q21.31,Deletion,1,BRCA1
2,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17q12,Deletion,1,CDK12
3,UEB-0209,Primary tratment-naive tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF
4,UEB-0209,Primary tratment-naive tumor,17,500001,81000000,17p12,Deletion,1,MAP2K4
...,...,...,...,...,...,...,...,...,...
104,UEB-0228,Unknown,17,500001,81000000,17p12,Deletion,1,MAP2K4
105,UEB-0228,Unknown,17,500001,81000000,17p12-17p11.2,Deletion,1,NCOR1
106,UEB-0228,Unknown,17,500001,81000000,17q11.2,Deletion,1,NF1
107,UEB-0228,Unknown,17,500001,81000000,17q24.2,Deletion,1,PRKAR1A
108,UEB-0228,Unknown,17,500001,81000000,17p13.1,Deletion,1,TP53

In [127]:
df_tumor

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN
0,UEB-0205,Treated Tumor,chr16,66310597,72173177,16q22.1,Deletion,1
1,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
2,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.3,Deletion,1
3,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
4,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1
...,...,...,...,...,...,...,...,...
134,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1
135,UEB-0237,Treated Tumor,chrX,62194379,155113436,Xq25,Deletion,1
136,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1
137,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3
138,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3

In [128]:
def match_gene_tum(start, end):
    return list(data_gene_tum[(data_gene_tum['start']==start)&(data_gene_tum['end']==end)]['gene'])[0]

In [129]:
df_tumor['Gene'] = list(map(match_gene_tum, df_tumor['Start'], df_tumor['End']))
df_tumor

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN,Gene
0,UEB-0205,Treated Tumor,chr16,66310597,72173177,16q22.1,Deletion,1,CBFB
1,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X
2,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.3,Deletion,1,USP9X
3,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X
4,UEB-0205,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1,USP9X
...,...,...,...,...,...,...,...,...,...
134,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X
135,UEB-0237,Treated Tumor,chrX,62194379,155113436,Xq25,Deletion,1,AR
136,UEB-0237,Treated Tumor,chrX,60500,58488398,Xp11.4,Deletion,1,USP9X
137,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3,CBFB
138,UEB-0237,Treated Tumor,chr16,46457168,90294253,16q22.1,Amplification,3,CBFB

## Match oncoKB

In [130]:
def match_oncoKB_TumorType(ID,gene,typ):
    if 0 == len(list(data_onco[(data_onco['Gene']== gene)]['oncoKB/Tier'])):
        oncoKB = 'III'
    else:
        oncoKB = list (data_onco[(data_onco['Gene']== gene)]['oncoKB/Tier'])[0]
    if typ == 'cfDNA':
        tumorType = list(data_clinic[data_clinic['ID_Final']==ID]['StatusTreat_cfDNA'])[0]
    else:
        tumorType = list(data_clinic[data_clinic['ID_Final']==ID]['StatusTreat_Tumor'])[0]
    return [oncoKB, tumorType]
match_oncoKB_TumorType('UEB-0205', 'CBFB', 'tumor')

['III', 'Primary tratment-naive tumor']

In [131]:
typ = ['cfDNA']* len(df_cfdna) 
x = list(map(match_oncoKB_TumorType,df_cfdna['ID'],df_cfdna['Gene'],typ))
x = pd.DataFrame(x)

df_cfdna['oncoKB/Tier'] = x[0]
df_cfdna['TumorType'] = x[1]

typ = ['Tumor']* len(df_tumor) 
x = list(map(match_oncoKB_TumorType,df_tumor['ID'],df_tumor['Gene'],typ))
x = pd.DataFrame(x)

df_tumor['oncoKB/Tier'] = x[0]
df_tumor['TumorType'] = x[1]

In [132]:
df_tumor

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN,Gene,oncoKB/Tier
0,UEB-0205,Primary tratment-naive tumor,chr16,66310597,72173177,16q22.1,Deletion,1,CBFB,III
1,UEB-0205,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X,III
2,UEB-0205,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.3,Deletion,1,USP9X,III
3,UEB-0205,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X,III
4,UEB-0205,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.4,Deletion,1,USP9X,III
...,...,...,...,...,...,...,...,...,...,...
134,UEB-0237,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.22,Deletion,1,USP9X,III
135,UEB-0237,Primary tratment-naive tumor,chrX,62194379,155113436,Xq25,Deletion,1,AR,III
136,UEB-0237,Primary tratment-naive tumor,chrX,60500,58488398,Xp11.4,Deletion,1,USP9X,III
137,UEB-0237,Primary tratment-naive tumor,chr16,46457168,90294253,16q22.1,Amplification,3,CBFB,III
138,UEB-0237,Primary tratment-naive tumor,chr16,46457168,90294253,16q22.1,Amplification,3,CBFB,III

In [133]:
df_cfdna

,ID,TumorType,Chr,Start,End,Cytoband,Type,CN,Gene,oncoKB/Tier
0,UEB-0208,Primary tratment-naive tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF,III
1,UEB-0209,Treated Tumor,17,500001,81000000,17q21.31,Deletion,1,BRCA1,I
2,UEB-0209,Treated Tumor,17,500001,81000000,17q12,Deletion,1,CDK12,I
3,UEB-0209,Treated Tumor,16,500001,90000000,16q22.1,Deletion,1,CTCF,III
4,UEB-0209,Treated Tumor,17,500001,81000000,17p12,Deletion,1,MAP2K4,III
...,...,...,...,...,...,...,...,...,...,...
104,UEB-0228,Unknown,17,500001,81000000,17p12,Deletion,1,MAP2K4,III
105,UEB-0228,Unknown,17,500001,81000000,17p12-17p11.2,Deletion,1,NCOR1,III
106,UEB-0228,Unknown,17,500001,81000000,17q11.2,Deletion,1,NF1,I
107,UEB-0228,Unknown,17,500001,81000000,17q24.2,Deletion,1,PRKAR1A,III
108,UEB-0228,Unknown,17,500001,81000000,17p13.1,Deletion,1,TP53,I

In [134]:
df_tumor.to_csv('/home/fer/Documents/cfDNA/Supplementary/CNV_tumor.csv', index = False)
df_cfdna.to_csv('/home/fer/Documents/cfDNA/Supplementary/CNV_cfDNA.csv', index = False)