In [1]:
import pandas as pd 
import numpy as np

In [16]:
df = pd.read_csv('/home/fer/Documents/cfDNA/OncoprintAll_mergeDirectionality/Base_v5 _GradientStages.csv')
df = df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], axis = 1)
df.columns = df.loc[11]

sub_molec = pd.DataFrame(df.loc[0])


df = df.drop(list(range(0,12)))

df

11,Cytoband,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,...,UEB_0226,UEB_0228,UEB_0230,UEB_0232,UEB_0233,UEB_0234,UEB_0235,UEB_0236,UEB_0212,UEB_0237
12,14q32.33,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1q44-q43,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Xq12,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;,loss_tumor;
15,19q13.32,ARHGAP35,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,;loss_cfDNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1p36.11,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,12q24.21,TBX3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,10q25.3-10q25.2,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,17p13.1,TP53,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,...,NaN,;loss_cfDNA,NaN,loss_tumor;,NaN,NaN,NaN,NaN,loss_tumor;,NaN
75,Xp11.4,USP9X,loss_tumor;,NaN,loss_tumor;,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;
76,11p13,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
sub_molec = sub_molec.reset_index()
sub_molec.columns = ['ID', 'Type']
sub_molec

          ID                  Type
0   Cytoband                   NaN
1         ID              SubMolec
2   UEB_0205             Luminal A
3   UEB_0208             Luminal B
4   UEB_0209             Luminal A
5   UEB_0210  Luminal B Like HER2+
6   UEB_0211             Luminal A
7   UEB_0213             Luminal A
8   UEB_0214                   NaN
9   UEB_0215             Luminal A
10  UEB_0217                   NaN
11  UEB_0218       Triple Negative
12  UEB_0219             Luminal A
13  UEB_0221  Luminal B Like HER2+
14  UEB_0222             Luminal A
15  UEB_0223             Luminal A
16  UEB_0226                   NaN
17  UEB_0228             Luminal A
18  UEB_0230  Luminal B Like HER2+
19  UEB_0232  Luminal B Like HER2+
20  UEB_0233             Luminal B
21  UEB_0234       Triple Negative
22  UEB_0235  Luminal B Like HER2+
23  UEB_0236                   NaN
24  UEB_0212                   NaN
25  UEB_0237             Luminal A

In [18]:
# DataPreparation
df['Cytoband'] = list(map(str, df['Cytoband']))

def cut_stringchr (string):
    x1= string.split('p')
    x2 = string.split('q')
    if len(x1) < len(x2):
        x = x2
    else:
        x = x1
    return x[0]

def insert_chr (string):
    x = 'chr' + str(string)
    return x

In [19]:
df['Cytoband'] = list(map(cut_stringchr, df['Cytoband']))
df['Cytoband'] = list(map(insert_chr, df['Cytoband']))
df

11,Cytoband,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,...,UEB_0226,UEB_0228,UEB_0230,UEB_0232,UEB_0233,UEB_0234,UEB_0235,UEB_0236,UEB_0212,UEB_0237
12,chr14,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,chr1,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,chrX,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;,loss_tumor;
15,chr19,ARHGAP35,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,;loss_cfDNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,chr1,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,chr12,TBX3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,chr10,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,chr17,TP53,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,...,NaN,;loss_cfDNA,NaN,loss_tumor;,NaN,NaN,NaN,NaN,loss_tumor;,NaN
75,chrX,USP9X,loss_tumor;,NaN,loss_tumor;,NaN,NaN,NaN,loss_tumor;,NaN,...,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;
76,chr11,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
ID_2 = list(df.columns.values)
ID_2 = ID_2[2:len(ID_2)]
df_melt = pd.melt(df, id_vars=['Cytoband', 'ID'], value_vars = ID_2)
df_melt.columns = ['chr', 'gene', 'ID', 'CNV']
df_melt

        chr      gene        ID          CNV
0     chr14      AKT1  UEB_0205          NaN
1      chr1      AKT3  UEB_0205          NaN
2      chrX        AR  UEB_0205          NaN
3     chr19  ARHGAP35  UEB_0205          NaN
4      chr1    ARID1A  UEB_0205          NaN
...     ...       ...       ...          ...
1555  chr12      TBX3  UEB_0237          NaN
1556  chr10    TCF7L2  UEB_0237          NaN
1557  chr17      TP53  UEB_0237          NaN
1558   chrX     USP9X  UEB_0237  loss_tumor;
1559  chr11       WT1  UEB_0237          NaN

[1560 rows x 4 columns]

In [21]:
df_melt = df_melt[df_melt['CNV'].notnull()]
df_melt

        chr   gene        ID          CNV
19    chr16   CTCF  UEB_0205  loss_tumor;
28     chrX  KDM5C  UEB_0205  loss_tumor;
29     chrX  KDM6A  UEB_0205  loss_tumor;
55     chrX  SMC1A  UEB_0205  loss_tumor;
63     chrX  USP9X  UEB_0205  loss_tumor;
...     ...    ...       ...          ...
1523   chrX  KDM5C  UEB_0237  loss_tumor;
1524   chrX  KDM6A  UEB_0237  loss_tumor;
1550   chrX  SMC1A  UEB_0237  loss_tumor;
1553   chrX  STAG2  UEB_0237  loss_tumor;
1558   chrX  USP9X  UEB_0237  loss_tumor;

[236 rows x 4 columns]

In [22]:
df_melt['gene'].value_counts()

BRCA1     12
CDK12     12
NF1       11
TP53      10
MAP2K4    10
          ..
AKT1       1
FBXW7      1
RUNX1      1
LIFR       1
CTNNB1     1
Name: gene, Length: 65, dtype: int64

In [27]:
lst = []
for i,j in zip(sub_molec.ID, sub_molec.Type):
    for k in df_melt.ID:
        if i == k:
            lst.append(j)
len(lst)

236

In [29]:
df_melt['Type'] = lst
df_melt.head()

/tmp/ipykernel_16524/1342907934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_melt['Type'] = lst

      chr   gene        ID          CNV       Type
19  chr16   CTCF  UEB_0205  loss_tumor;  Luminal A
28   chrX  KDM5C  UEB_0205  loss_tumor;  Luminal A
29   chrX  KDM6A  UEB_0205  loss_tumor;  Luminal A
55   chrX  SMC1A  UEB_0205  loss_tumor;  Luminal A
63   chrX  USP9X  UEB_0205  loss_tumor;  Luminal A

In [33]:
df_melt = df_melt.drop(['ID'], axis = 1)
df_melt

        chr   gene          CNV       Type
19    chr16   CTCF  loss_tumor;  Luminal A
28     chrX  KDM5C  loss_tumor;  Luminal A
29     chrX  KDM6A  loss_tumor;  Luminal A
55     chrX  SMC1A  loss_tumor;  Luminal A
63     chrX  USP9X  loss_tumor;  Luminal A
...     ...    ...          ...        ...
1523   chrX  KDM5C  loss_tumor;  Luminal A
1524   chrX  KDM6A  loss_tumor;  Luminal A
1550   chrX  SMC1A  loss_tumor;  Luminal A
1553   chrX  STAG2  loss_tumor;  Luminal A
1558   chrX  USP9X  loss_tumor;  Luminal A

[236 rows x 4 columns]

In [38]:
df_c = pd.DataFrame(df_melt.groupby(['chr', 'gene']).value_counts())
#df_c[df_c[0] > 1]
df_c.columns = ['Count']
df_c

                                                Count
chr    gene   CNV         Type
chr1   AKT3   ;loss_cfDNA Luminal A                 1
       ARID1A loss_tumor; Luminal A                 1
              ;loss_cfDNA Luminal A                 1
       CDKN2C loss_tumor; Luminal A                 1
       FUBP1  ;loss_cfDNA Luminal A                 1
...                                               ...
chrX   USP9X  loss_tumor; Luminal B Like HER2+      1
chrnan CTNNB1 gain_tumor; Luminal A                 1
       KMT2B  loss_tumor; Luminal B                 1
       KMT2D  loss_tumor; Luminal B Like HER2+      1
       MECOM  gain_tumor; Triple Negative           1

[120 rows x 1 columns]

In [39]:
#df_c.to_csv('/home/fer/Documents/cfDNA/OncoprintAll_mergeDirectionality/CountTypes.csv')