# Count Venn Diagram

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('/home/fer/Documents/cfDNA/OncoprintMerge/Tumor.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df = df.set_index('ID')
df

,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
ID,,,,,,,,,,,,,,,,,
AKT1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
AKT3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AR,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
ARHGAP35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARID1A,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCF7L2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TP53,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0
U2AF1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
USP9X,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0
WT1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [22]:
columnas = df.columns
contador = 0
for i in columnas:
    for j in df[i]:
        if j == 1:
            contador = contador + 1
contador

97

In [23]:
df = pd.read_csv('/home/fer/Documents/cfDNA/OncoprintMerge/cfDNA.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df = df.set_index('ID')
df

,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
ID,,,,,,,,,,,,,,,,,
AKT1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AKT3,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
AR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ARHGAP35,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
ARID1A,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCF7L2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
TP53,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
U2AF1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
USP9X,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WT1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
columnas = df.columns
contador = 0
for i in columnas:
    for j in df[i]:
        if j == 1:
            contador = contador + 1
contador

185