In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Tumor/CNVFilterSplitColumns.cns', sep='\t',
                 on_bad_lines='skip')
df

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15
0,UEB_10,chrY,10500,10040127,-,-6.154310,-4.35101-7.51274,0,0.012651,14.138200,2.998510,-13.874100,64,0.828376,15.63940,NaN
1,UEB_10,chrY,13105053,59363066,-,-7.541800,-6.55608-8.57367,0,0.006079,10.967000,-0.796005,-13.870500,99,0.566176,26.81010,NaN
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408000,0.177407,0.753262,0.295590,31,0.024553,21.42040,NaN
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469000,0.283218,0.687257,-0.084862,25,0.042583,16.60110,NaN
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752000,0.252940,0.812583,-0.404366,76,0.028779,44.70750,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,UEB_7,chrY,10500,10040127,-,-4.573630,-2.89201-5.93358,0,0.017611,9.218380,2.682350,-13.970900,64,0.760329,15.32330,NaN
730,UEB_7,chrY,13105053,59363066,-,-6.051250,-5.10821-7.03942,0,0.006247,11.797700,0.583775,-14.003200,99,0.554512,26.26820,NaN
731,UEB_8,chrY,10500,3559941,-,0.162526,1.25495-1.00983,1,0.038452,3.932420,2.876840,-4.424110,24,0.507092,5.17612,NaN
732,UEB_8,chrY,3559941,10040127,-,-9.339430,-7.53683-11.069,0,0.002047,11.258300,0.075962,-13.976400,40,0.934354,10.32520,NaN
733,UEB_8,chrY,13105053,59363066,-,-7.202200,-6.2067-8.11639,0,0.006592,11.509100,-0.343575,-14.007200,99,0.571064,26.57340,NaN

In [3]:
len(df['Sample'].value_counts())

32

In [4]:
#x = pd.DataFrame(df['Sample'].value_counts())
#x.to_csv('/home/fer/ID_tumor.csv')

In [5]:
df[(df['log2']>= 0.3) | (df['log2']<= -0.3)]

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15
0,UEB_10,chrY,10500,10040127,-,-6.154310,-4.35101-7.51274,0,0.012651,14.138200,2.998510,-13.874100,64,0.828376,15.6394,NaN
1,UEB_10,chrY,13105053,59363066,-,-7.541800,-6.55608-8.57367,0,0.006079,10.967000,-0.796005,-13.870500,99,0.566176,26.8101,NaN
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408000,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469000,0.283218,0.687257,-0.084862,25,0.042583,16.6011,NaN
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752000,0.252940,0.812583,-0.404366,76,0.028779,44.7075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,UEB_79,chrY,13105053,59363066,-,-8.262750,-7.26299-9.54383,0,0.006753,11.089200,-0.123219,-13.942900,99,0.584973,24.3096,NaN
729,UEB_7,chrY,10500,10040127,-,-4.573630,-2.89201-5.93358,0,0.017611,9.218380,2.682350,-13.970900,64,0.760329,15.3233,NaN
730,UEB_7,chrY,13105053,59363066,-,-6.051250,-5.10821-7.03942,0,0.006247,11.797700,0.583775,-14.003200,99,0.554512,26.2682,NaN
732,UEB_8,chrY,3559941,10040127,-,-9.339430,-7.53683-11.069,0,0.002047,11.258300,0.075962,-13.976400,40,0.934354,10.3252,NaN
733,UEB_8,chrY,13105053,59363066,-,-7.202200,-6.2067-8.11639,0,0.006592,11.509100,-0.343575,-14.007200,99,0.571064,26.5734,NaN

In [6]:
df = df[df['depth'] > 10]
df

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469,0.283218,0.687257,-0.084862,25,0.042583,16.6011,NaN
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752,0.252940,0.812583,-0.404366,76,0.028779,44.7075,NaN
5,UEB_12,chr12,78392065,78606803,NAV3,0.539351,0.5771140.505121,3,575.621,0.198214,0.778169,0.176838,51,0.022235,35.1119,NaN
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,UEB_79,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
723,UEB_79,chrX,62194379,155113436,LOC101928402,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
724,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
725,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN
726,UEB_79,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN

In [7]:
# https://www.intogen.org/download
filtro = pd.read_csv('/home/fer/Documents/cfDNA/Compendium_Cancer_Genes.tsv', sep = '\t')
x = list(filtro['SYMBOL'])
intogenDrivers = list(set(x))

In [8]:
lst = []
for i in df.gene:
    if i in intogenDrivers :
        lst.append('True')
    else:
        lst.append('False')
len(lst)

618

In [9]:
df['intogenDrivers'] = lst
df

/tmp/ipykernel_37488/3028655539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['intogenDrivers'] = lst

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
3,UEB_12,chr9,119564718,120479535,TLR4,0.452749,0.5163690.376021,3,512.469,0.283218,0.687257,-0.084862,25,0.042583,16.6011,NaN,False
4,UEB_12,chr12,37926332,41509174,LRRK2,0.406100,0.4487160.360019,3,323.752,0.252940,0.812583,-0.404366,76,0.028779,44.7075,NaN,False
5,UEB_12,chr12,78392065,78606803,NAV3,0.539351,0.5771140.505121,3,575.621,0.198214,0.778169,0.176838,51,0.022235,35.1119,NaN,False
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,UEB_79,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
723,UEB_79,chrX,62194379,155113436,LOC101928402,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,False
724,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_79,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [10]:
df_filter = df[df['intogenDrivers']== 'True']
df_filter

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_12,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_12,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_12,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_12,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_12,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,UEB_79,chrX,62194379,155113436,AR,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
722,UEB_79,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
724,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_79,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_79,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [11]:
id_tumor = df_filter['Sample'].value_counts().index.values
id_tumor

array(['UEB_33', 'UEB_79', 'UEB_30', 'UEB_35', 'UEB_31', 'UEB_25',
       'UEB_27', 'UEB_49', 'UEB_53', 'UEB_5', 'UEB_16', 'UEB_44',
       'UEB_78', 'UEB_12', 'UEB_47', 'UEB_45', 'UEB_29', 'UEB_37',
       'UEB_77'], dtype=object)

# Remplazar los ID

In [12]:
df_filter['Sample']= df_filter['Sample'].replace(['UEB_33', 'UEB_79', 'UEB_30', 
                                                  'UEB_35', 'UEB_31', 'UEB_25',
       'UEB_27', 'UEB_49', 'UEB_53', 'UEB_5', 'UEB_16', 'UEB_44',
       'UEB_78', 'UEB_12', 'UEB_47', 'UEB_45', 'UEB_29', 'UEB_37',
       'UEB_77'],['UEB_0211', 'UEB_0222', 'UEB_0210', 'UEB_0212', 'UEB_0209', 'UEB_0232', 
                  'UEB_0230', 'UEB_0237','UEB_0217', 'UEB_0205', 'UEB_0233', 'UEB_0214',
                  'UEB_0221', 'UEB_0234', 'UEB_0215', 'UEB_0235', 'UEB_0208',
                 'UEB_236', 'UEB_0220'])
df_filter

/tmp/ipykernel_37488/2822026716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter['Sample']= df_filter['Sample'].replace(['UEB_33', 'UEB_79', 'UEB_30',

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_0234,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_0234,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_0234,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_0234,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_0234,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,UEB_0222,chrX,62194379,155113436,AR,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
722,UEB_0222,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
724,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_0222,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [13]:
df_filter = df_filter[df_filter['Sample']!= 'sID']
df_filter

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_0234,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,3,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_0234,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_0234,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_0234,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,1,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_0234,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,3,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,UEB_0222,chrX,62194379,155113436,AR,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
722,UEB_0222,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
724,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_0222,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,1,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [14]:
len(df_filter['Sample'].value_counts())

19

In [15]:
df_filter['cn']= df_filter['cn'].replace([1,0],'loss')
df_filter['cn']= df_filter['cn'].replace([3,4,5,6,7,8],'gain')
df_filter

,Sample,chromosome,start,end,gene,log2,ci_hici_lo,cn,depth,iqr,pi_hi,pi_lo,probes,sem,weight,Unnamed: 15,intogenDrivers
2,UEB_0234,chr3,168802058,168982259,MECOM,0.521563,0.5699990.472192,gain,574.408,0.177407,0.753262,0.295590,31,0.024553,21.4204,NaN,True
6,UEB_0234,chr16,67063121,69920995,CBFB,-0.297587,-0.249386-0.346478,loss,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
7,UEB_0234,chr16,67063121,69920995,CTCF,-0.297587,-0.249386-0.346478,loss,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
8,UEB_0234,chr16,67063121,69920995,CDH1,-0.297587,-0.249386-0.346478,loss,247.925,0.339301,0.138180,-0.888263,80,0.037600,47.9794,NaN,True
9,UEB_0234,chr17,11027287,13243217,MAP2K4,0.292106,0.3403590.254575,gain,295.408,0.198139,0.604933,0.111146,36,0.024425,20.1490,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,UEB_0222,chrX,62194379,155113436,AR,-0.394306,-0.366013-0.437174,loss,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
722,UEB_0222,chrX,62194379,155113436,ATRX,-0.394306,-0.366013-0.437174,loss,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
724,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,loss,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
725,UEB_0222,chrX,62194379,155113436,STAG2,-0.394306,-0.366013-0.437174,loss,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True
726,UEB_0222,chrX,62194379,155113436,PHF6,-0.394306,-0.366013-0.437174,loss,176.987,0.510962,0.432946,-2.500910,770,0.052773,253.2270,NaN,True

In [16]:
len(list(df_filter['gene'].value_counts()))

79

In [17]:
data = {'ID': list(df_filter.Sample),
        'Gene' : list(df_filter.gene),
            'Alteration': list(df_filter.cn)}
onco = pd.DataFrame(data,columns=['ID', 'Gene', 'Alteration'])
onco

           ID    Gene Alteration
0    UEB_0234   MECOM       gain
1    UEB_0234    CBFB       loss
2    UEB_0234    CTCF       loss
3    UEB_0234    CDH1       loss
4    UEB_0234  MAP2K4       gain
..        ...     ...        ...
349  UEB_0222      AR       loss
350  UEB_0222    ATRX       loss
351  UEB_0222   STAG2       loss
352  UEB_0222   STAG2       loss
353  UEB_0222    PHF6       loss

[354 rows x 3 columns]

In [21]:
# Eliminar filas duplicadas
onco = onco.drop_duplicates(subset=["Gene", "ID"])
onco = onco.drop_duplicates(keep='first')
onco.Alteration.value_counts()

loss    241
gain     44
Name: Alteration, dtype: int64

In [22]:
onco['Gene'].value_counts()

CDK12     10
PHF6      10
AR        10
ATRX      10
STAG2     10
          ..
RUNX1      1
SMAD4      1
SMAD2      1
SETBP1     1
ASXL1      1
Name: Gene, Length: 79, dtype: int64

In [23]:
onco = onco.pivot(index='Gene', columns='ID')
onco

       Alteration                                                        \
ID       UEB_0205 UEB_0208 UEB_0209 UEB_0210 UEB_0211 UEB_0212 UEB_0214
Gene
ACVR2A        NaN      NaN      NaN      NaN      NaN      NaN      NaN
AKT1          NaN      NaN      NaN      NaN      NaN      NaN      NaN
AR           loss      NaN      NaN     loss     loss     loss     loss
ARID1A        NaN      NaN      NaN      NaN      NaN      NaN      NaN
ASXL1         NaN      NaN      NaN      NaN      NaN      NaN      NaN
...           ...      ...      ...      ...      ...      ...      ...
TP53          NaN      NaN     loss     loss     loss     loss      NaN
U2AF1         NaN      NaN      NaN     gain      NaN      NaN      NaN
USP9X        loss      NaN     loss      NaN     loss      NaN     loss
VHL           NaN      NaN      NaN      NaN      NaN      NaN      NaN
WT1           NaN      NaN      NaN      NaN      NaN      NaN      NaN

                                                                       \
ID     UEB_0215 UEB_0217 UEB_0220 UEB_0221 UEB_0222 UEB_0230 UEB_0232
Gene
ACVR2A      NaN     loss      NaN      NaN      NaN      NaN      NaN
AKT1        NaN     gain      NaN      NaN      NaN      NaN      NaN
AR          NaN      NaN      NaN     loss     loss     loss     loss
ARID1A      NaN      NaN      NaN      NaN     loss      NaN      NaN
ASXL1       NaN      NaN      NaN      NaN     gain      NaN      NaN
...         ...      ...      ...      ...      ...      ...      ...
TP53        NaN      NaN      NaN      NaN     loss      NaN     loss
U2AF1       NaN      NaN      NaN      NaN      NaN      NaN      NaN
USP9X       NaN     gain      NaN      NaN      NaN      NaN     loss
VHL         NaN      NaN      NaN      NaN      NaN      NaN      NaN
WT1        loss      NaN      NaN      NaN     loss      NaN      NaN


ID     UEB_0233 UEB_0234 UEB_0235 UEB_0237 UEB_236
Gene
ACVR2A      NaN      NaN      NaN      NaN     NaN
AKT1        NaN      NaN      NaN      NaN     NaN
AR          NaN      NaN      NaN     loss     NaN
ARID1A      NaN      NaN      NaN      NaN     NaN
ASXL1       NaN      NaN      NaN      NaN     NaN
...         ...      ...      ...      ...     ...
TP53        NaN      NaN      NaN      NaN     NaN
U2AF1       NaN      NaN      NaN      NaN     NaN
USP9X       NaN      NaN      NaN     loss     NaN
VHL         NaN      NaN      NaN     gain     NaN
WT1         NaN      NaN      NaN      NaN     NaN

[79 rows x 19 columns]

In [24]:
len(onco)

79

In [25]:
#onco.to_csv('/home/fer/DriversTumor.csv')

In [45]:
oncocfDNA = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/Oncoprint55genes_cito.csv')
ID = list(oncocfDNA.iloc[10])
oncocfDNA = oncocfDNA.drop(oncocfDNA.index[[0,1,2,3,4,5,6,7,8,9,10,11]])
oncocfDNA.columns = ID
oncocfDNA = oncocfDNA.iloc[: , 1:]
del oncocfDNA[oncocfDNA.columns[1]]
oncocfDNA.head()

,ID,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0221,UEB_0223,UEB_0226,UEB_0228
12,AKT3,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN
13,ARHGAP35,NaN,NaN,loss,NaN,NaN,NaN,loss,NaN,NaN,loss,NaN,NaN,NaN,NaN
14,ARID1A,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN
15,ARID2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,loss,NaN,NaN,NaN,NaN
16,BRCA1,NaN,loss,loss,loss,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,loss

# Merge de ambos

In [46]:
cfDNA = list(oncocfDNA.ID)
tumor = list(onco.index.values)

merge = cfDNA + tumor
merge = list(set(merge))

In [47]:
#Valores que estan en el tumor, pero no en cfDNA
lst = []
for i in tumor:
    if i not in cfDNA:
        lst.append(i)

In [48]:
# Valores que estan en cfDNA, pero no en el tumor
lst2 = []
for i in cfDNA:
    if i not in tumor:
        lst2.append(i)

In [49]:
onco = onco.reset_index()

In [50]:
# Rellenado de genes faltantes en cada df

# Tumor
for i in lst2:
    onco.loc[len(onco)] = i
onco

# cfDNA
for i in range(len(lst)):
    oncocfDNA.loc[100 + i] = lst[i]

print('Longitud de cfDNA: ', len(oncocfDNA), '. Longitud de tumor: ', len(onco))

Longitud de cfDNA:  84 . Longitud de tumor:  84

In [51]:
# Ordenado de los df

onco = onco.sort_values('Gene')
oncocfDNA = oncocfDNA.sort_values('ID')

# Agregar ID faltantes

oncocfDNA.insert(1, "UEB_0205", 'NaN', allow_duplicates=False)
oncocfDNA.insert(12, "UEB_0220", 'NaN', allow_duplicates=False)
oncocfDNA.insert(14, "UEB_0222", 'NaN', allow_duplicates=False)

onco.insert(6, "UEB_0213", 'NaN', allow_duplicates=False)
onco.insert(10, "UEB_0218", 'NaN', allow_duplicates=False)
onco.insert(11, "UEB_0219", 'NaN', allow_duplicates=False)
onco.insert(13, "UEB_0221", 'NaN', allow_duplicates=False)
onco.insert(15, "UEB_0223", 'NaN', allow_duplicates=False)
onco.insert(16, "UEB_0226", 'NaN', allow_duplicates=False)
onco.insert(17, "UEB_0228", 'NaN', allow_duplicates=False)

In [52]:
oncocfDNA

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
100,AKT1,NaN,AKT1,AKT1,AKT1,AKT1,AKT1,AKT1,AKT1,AKT1,AKT1,AKT1,NaN,AKT1,NaN,AKT1,AKT1,AKT1
12,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
101,AR,NaN,AR,AR,AR,AR,AR,AR,AR,AR,AR,AR,NaN,AR,NaN,AR,AR,AR
13,ARHGAP35,NaN,NaN,NaN,loss,NaN,NaN,NaN,loss,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
14,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,TP53,NaN,NaN,loss,loss,loss,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,loss
126,U2AF1,NaN,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,U2AF1,NaN,U2AF1,NaN,U2AF1,U2AF1,U2AF1
127,USP9X,NaN,USP9X,USP9X,USP9X,USP9X,USP9X,USP9X,USP9X,USP9X,USP9X,USP9X,NaN,USP9X,NaN,USP9X,USP9X,USP9X
128,WT1,NaN,WT1,WT1,WT1,WT1,WT1,WT1,WT1,WT1,WT1,WT1,NaN,WT1,NaN,WT1,WT1,WT1

In [54]:
onco.columns = oncocfDNA.columns
onco

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,AKT3,AKT3,AKT3,AKT3,AKT3,AKT3,NaN,AKT3,AKT3,AKT3,NaN,NaN,AKT3,NaN,AKT3,NaN,NaN,NaN
1,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
50,ARHGAP35,ARHGAP35,ARHGAP35,ARHGAP35,ARHGAP35,ARHGAP35,NaN,ARHGAP35,ARHGAP35,ARHGAP35,NaN,NaN,ARHGAP35,NaN,ARHGAP35,NaN,NaN,NaN
2,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,TCF7L2,TCF7L2,TCF7L2,TCF7L2,TCF7L2,TCF7L2,NaN,TCF7L2,TCF7L2,TCF7L2,NaN,NaN,TCF7L2,NaN,TCF7L2,NaN,NaN,NaN
45,TP53,NaN,NaN,loss,loss,loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
46,U2AF1,NaN,NaN,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,USP9X,loss,NaN,loss,NaN,NaN,NaN,loss,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN

In [91]:
genes = list(onco['ID'])

## Limpieza de oncoprint tumor

In [110]:
i = 1
df_bd_f = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in onco[columnas[i]]:
        if j == 'loss' or j == 'gain':
            lst_i.append(j)
        else:
            lst_i.append('NaN')
    df_bd_f[i] = lst_i
    i=i+1

In [111]:
df_bd_f.insert(0, "ID", genes)
df_bd_f.columns = columnas
onco = df_bd_f
onco

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
3,ARHGAP35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,TP53,NaN,NaN,loss,loss,loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN
81,U2AF1,NaN,NaN,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,USP9X,loss,NaN,loss,NaN,NaN,NaN,loss,NaN,gain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN

## Limpieza de oncoprint cfDNA

In [112]:
i = 1
df_bd_f = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in oncocfDNA[columnas[i]]:
        if j == 'loss' or j == 'gain':
            lst_i.append(j)
        else:
            lst_i.append('NaN')
    df_bd_f[i] = lst_i
    i=i+1

In [113]:
df_bd_f.insert(0, "ID", genes)
df_bd_f.columns = columnas
oncocfDNA = df_bd_f
oncocfDNA

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARHGAP35,NaN,NaN,NaN,loss,NaN,NaN,NaN,loss,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
4,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,TP53,NaN,NaN,loss,loss,loss,NaN,loss,NaN,loss,NaN,loss,NaN,NaN,NaN,NaN,NaN,loss
81,U2AF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,USP9X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Comparación de oncoprints

In [114]:
i = 1
columnas = oncocfDNA.columns
df_bd = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j,k in zip( onco[columnas[i]], oncocfDNA[columnas[i]] ):
        lst_i.append(str(j)+'_tumor;'+str(k)+'_cfDNA')
    df_bd[i] = lst_i
    i=i+1

In [115]:
df_bd.insert(0, "ID", genes)
df_bd.columns = columnas
df_bd

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,gain_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
1,AKT3,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
2,AR,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
3,ARHGAP35,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
4,ARID1A,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
80,TP53,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;loss_cfDNA
81,U2AF1,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,gain_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
82,USP9X,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,gain_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA
83,WT1,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,loss_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA,NaN_tumor;NaN_cfDNA

In [116]:
df_bd.to_csv('/home/fer/Base.csv')

Eliminación de ' ; ' y 'NaN'

# Construcción de otras matrices

In [117]:
df = pd.read_csv('/home/fer/Documents/cfDNA/OncoprintMerge/Base.csv')
df

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AKT3,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN
3,ARHGAP35,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN
4,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,TP53,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,;loss_cfDNA
81,U2AF1,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,USP9X,loss_tumor;,NaN,loss_tumor;,NaN,NaN,NaN,loss_tumor;,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,WT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN

In [123]:
# Tumor
i = 1
df_bd = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in df[columnas[i]]:
        if j == 'loss_tumor;loss_cfDNA' or j == 'gain_tumor;' or j == 'loss_tumor;':
            lst_i.append(1)
        else:
            lst_i.append(0)
    df_bd[i] = lst_i
    i=i+1

df_bd.insert(0, "ID", genes)
df_bd.columns = columnas
df_tumor = df_bd
df_tumor

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,AKT3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AR,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
3,ARHGAP35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ARID1A,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
80,TP53,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0
81,U2AF1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
82,USP9X,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0
83,WT1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [124]:
# cfDNA
i = 1
df_bd = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in df[columnas[i]]:
        if j == 'loss_tumor;loss_cfDNA' or j == ';loss_cfDNA' or j == ';gain_cfDNA':
            lst_i.append(1)
        else:
            lst_i.append(0)
    df_bd[i] = lst_i
    i=i+1

df_bd.insert(0, "ID", genes)
df_bd.columns = columnas
df_cfDNA = df_bd
df_cfDNA

,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,AKT1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AKT3,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
2,AR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ARHGAP35,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
4,ARID1A,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TCF7L2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
80,TP53,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
81,U2AF1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
82,USP9X,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
83,WT1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [125]:
df_tumor.to_csv('/home/fer/Documents/cfDNA/OncoprintMerge/Tumor.csv')
df_cfDNA.to_csv('/home/fer/Documents/cfDNA/OncoprintMerge/cfDNA.csv')

# Construcción de otras matrices filtrado

In [2]:
import pandas as pd
df = pd.read_csv('/home/fer/Documents/cfDNA/OncoprintMerge/BaseRoundedFilter.csv')
df = df.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], axis=1)
df.columns = df.iloc[9]
df = df.drop([0,1,2,3,4,5,6,7,8,9],axis=0)
df

9,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
10,ARID1A,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
11,BRCA1,NaN,NaN,loss_tumor;loss_cfDNA,;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,gain_tumor;,NaN,NaN,;loss_cfDNA
12,BRCA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,;loss_cfDNA,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN
13,CBFB,loss_tumor;,;loss_cfDNA,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,;loss_cfDNA,NaN
14,CDH1,loss_tumor;,;loss_cfDNA,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,;loss_cfDNA,NaN
15,CDK12,NaN,gain_tumor;,loss_tumor;loss_cfDNA,;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,gain_tumor;,NaN,gain_tumor;,NaN,NaN,;loss_cfDNA
16,CHEK2,NaN,NaN,loss_tumor;,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
17,CTCF,loss_tumor;,;loss_cfDNA,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,;loss_cfDNA,NaN
18,EP300,NaN,NaN,loss_tumor;,NaN,loss_tumor;,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
19,FLT3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,KEAP1,NaN,NaN,loss_tumor;,loss_tumor;loss_cfDNA,loss_tumor;,NaN,NaN,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN
21,MAP2K4,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,;loss_cfDNA
22,MTOR,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
23,NCOR1,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,;loss_cfDNA
24,NF1,NaN,NaN,loss_tumor;loss_cfDNA,;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,gain_tumor;,NaN,NaN,;loss_cfDNA
25,NRAS,NaN,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,NaN
26,RB1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,loss_tumor;,;loss_cfDNA,NaN,NaN,NaN,loss_tumor;,NaN,NaN,NaN
27,RUNX1,NaN,NaN,NaN,gain_tumor;,NaN,NaN,NaN,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,STK11,NaN,NaN,loss_tumor;,loss_tumor;loss_cfDNA,loss_tumor;,NaN,NaN,;loss_cfDNA,NaN,NaN,;loss_cfDNA,NaN,NaN,NaN,NaN,NaN,NaN
29,TP53,NaN,NaN,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,loss_tumor;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,;loss_cfDNA,NaN,NaN,loss_tumor;,NaN,NaN,;loss_cfDNA

In [3]:
# Tumor

columnas = df.columns
genes = list(df['ID'])

i = 1
df_bd = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in df[columnas[i]]:
        if j == 'loss_tumor;loss_cfDNA' or j == 'gain_tumor;' or j == 'loss_tumor;':
            lst_i.append(1)
        else:
            lst_i.append(0)
    df_bd[i] = lst_i
    i=i+1

df_bd.insert(0, "ID", genes)
df_bd.columns = columnas
df_tumor = df_bd
df_tumor

9,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,ARID1A,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,BRCA1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
2,BRCA2,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,CBFB,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,CDH1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,CDK12,0,1,1,0,1,0,0,0,0,0,0,1,0,1,0,0,0
6,CHEK2,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
7,CTCF,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,EP300,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
9,FLT3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
10,KEAP1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
11,MAP2K4,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0
12,MTOR,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,NCOR1,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0
14,NF1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
15,NRAS,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
16,RB1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
17,RUNX1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
18,STK11,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
19,TP53,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0

In [4]:
# cfDNA
i = 1
df_bd = pd.DataFrame()

while i < len(columnas):
    lst_i = []
    for j in df[columnas[i]]:
        if j == 'loss_tumor;loss_cfDNA' or j == ';loss_cfDNA' or j == ';gain_cfDNA':
            lst_i.append(1)
        else:
            lst_i.append(0)
    df_bd[i] = lst_i
    i=i+1

df_bd.insert(0, "ID", genes)
df_bd.columns = columnas
df_cfDNA = df_bd
df_cfDNA

9,ID,UEB_0205,UEB_0208,UEB_0209,UEB_0210,UEB_0211,UEB_0213,UEB_0214,UEB_0215,UEB_0217,UEB_0218,UEB_0219,UEB_0220,UEB_0221,UEB_0222,UEB_0223,UEB_0226,UEB_0228
0,ARID1A,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
1,BRCA1,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
2,BRCA2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,CBFB,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0
4,CDH1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0
5,CDK12,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
6,CHEK2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,CTCF,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0
8,EP300,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9,FLT3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
10,KEAP1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
11,MAP2K4,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
12,MTOR,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
13,NCOR1,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
14,NF1,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1
15,NRAS,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0
16,RB1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
17,RUNX1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
18,STK11,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0
19,TP53,0,0,1,1,1,0,1,0,1,0,1,0,0,0,0,0,1

In [5]:
df_tumor.to_csv('/home/fer/Documents/cfDNA/OncoprintMerge/TumorFilter.csv')
df_cfDNA.to_csv('/home/fer/Documents/cfDNA/OncoprintMerge/cfDNAFilter.csv')