In [17]:
import pandas as pd

In [25]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/txt/simulated.bed', sep = '\t')
df.call.value_counts()

NEUT    37
GAIN    10
HETD     4
Name: call, dtype: int64

In [22]:
df = df[df['call']!='NEUT'].set_index('chrom')
df

           start        end  call
chrom
2      162000001  213000000  GAIN
3       25000001   30500000  GAIN
3      132500001  163000000  GAIN
5       51500001   53500000  HETD
5       55000001   75000000  HETD
5      105500001  136000000  GAIN
6       28500001   33500000  GAIN
6      104000001  114000000  HETD
8       92000001  102000000  GAIN
10      15000001   17000000  GAIN
10      65000001  114500000  HETD
15      92500001   98000000  GAIN
16      11500001   31500000  GAIN
X      132000001  137000000  GAIN