In [77]:
import pandas as pd
import numpy as np

In [49]:
#df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/tsv/merge.csv')
df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/FREEC/con_gem_mapability/tsv/merge.csv')

df = df.drop(['Unnamed: 0'], axis=1)
ID = df.ID
df = df.drop(['ID'], axis=1)


df_name = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/tsv/UEB_0205.tsv', sep='\t')
columns = df_name.columns

df.columns = columns
df['ID'] = ID
df

,AnnotSV_ID,SV_chrom,SV_start,SV_end,SV_length,user#1,Annotation_mode,CytoBand,Gene_name,Gene_count,...,OMIM_inheritance,OMIM_morbid,OMIM_morbid_candidate,LOEUF_bin,GnomAD_pLI,ExAC_pLI,AnnotSV_ranking_score,AnnotSV_ranking_criteria,ACMG_class,ID
0,AnnotSV_ID,SV_chrom,SV_start,SV_end,SV_length,user#1,Annotation_mode,CytoBand,Gene_name,Gene_count,...,OMIM_inheritance,OMIM_morbid,OMIM_morbid_candidate,LOEUF_bin,GnomAD_pLI,ExAC_pLI,AnnotSV_ranking_score,AnnotSV_ranking_criteria,ACMG_class,UEB_0205
1,10_17800000_18250000__1,10,17800000,18250000,NaN,loss,full,p12.33,MIR511;MRC1;SLC39A12;TMEM236,4,...,NaN,NaN,NaN,NaN,9.4335e-01,9.7587e-01,NaN,NaN,NaN,UEB_0205
2,10_17800000_18250000__1,10,17800000,18250000,NaN,loss,split,p12.33,MIR511,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA,UEB_0205
3,10_17800000_18250000__1,10,17800000,18250000,NaN,loss,split,p12.33,MRC1,NaN,...,NaN,NaN,NaN,1,9.4335e-01,9.7587e-01,NaN,NaN,full=NA,UEB_0205
4,10_17800000_18250000__1,10,17800000,18250000,NaN,loss,split,p12.33,SLC39A12,NaN,...,NaN,NaN,NaN,4,8.3413e-07,2.9299e-04,NaN,NaN,full=NA,UEB_0205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7756,22_18850000_18900000__1,22,18850000,18900000,NaN,gain,full,q11.21,DGCR6;FAM230F;LOC102724770;LOC107987394,4,...,NaN,NaN,NaN,NaN,9.8176e-12,7.6210e-07,NaN,NaN,NaN,UEB_0228
7757,22_18850000_18900000__1,22,18850000,18900000,NaN,gain,split,q11.21,DGCR6,NaN,...,NaN,NaN,NaN,9,9.8176e-12,7.6210e-07,NaN,NaN,full=NA,UEB_0228
7758,22_18850000_18900000__1,22,18850000,18900000,NaN,gain,split,q11.21,FAM230F,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA,UEB_0228
7759,22_18850000_18900000__1,22,18850000,18900000,NaN,gain,split,q11.21,LOC102724770,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA,UEB_0228
7760,22_18850000_18900000__1,22,18850000,18900000,NaN,gain,split,q11.21,LOC107987394,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA,UEB_0228

Usar la citobanda para automatizar aun mas el oncoprint?

# Genes de interes

In [50]:
df_f = pd.read_csv('/home/fer/Documents/Code/cfDNA/ParaFiltrar.csv')
df_f

,Oncogenes_Gsea_2018,TumorSuppresor_Gsea_2018,INTOGEN_2018,Yates_2017,Intogen_2020
0,ABI1,APC,PIK3CA,AKT1,TP53
1,ABL1,ASXL1,TP53,AKT1,PIK3CA
2,ABL2,ATM,PTEN,AKT3,KMT2C
3,ACSL3,BLM,AKT1,AKT3,GATA3
4,ACSL6,BMPR1A,SF3B1,ASXL1,CDH1
...,...,...,...,...,...
327,ZBTB16,NaN,NaN,NaN,NaN
328,ZMYM2,NaN,NaN,NaN,NaN
329,ZNF331,NaN,NaN,NaN,NaN
330,ZNF384,NaN,NaN,NaN,NaN
331,ZNF521,NaN,NaN,NaN,NaN

In [51]:
df2 = pd.ExcelFile('/home/fer/Documents/Code/cfDNA/GenesInteres.xls')
# Considerar solo una hoja de excel
df2=df2.parse('a. Gene panel info')
df2

/home/fer/.local/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Other Breast Series,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Gene in Cancer Gene Panel V2,Breast cancer point mutation driver confidence,Cancer5000 breast analysis (q<0.05)(Lawrence e...,Cancer5000 All cancers analysis (q<0.05) (Lawr...,"Stephens et al. Nature, 2012",Banerji et al. Nature 2012,Ellis et al. Nature 2012,Shah et al. Nature 2012,"TCGA, Nature 2012",Most Frequent In Breast Cancer(COSMIC-March2014),Breast cancer susceptibility gene?,"In Cancer Gene Census v65 (Futreal, Nature Rev...",In Cancer Gene Census v65(point mutations or i...,Any cancer point mutation driver confidence
1,AKT1,HIGH,1,1,1,1,0,0,1,1,0,1,1,HIGH
2,AKT2,HIGH,0,0,1,0,0,0,0,0,0,1,0,HIGH
3,APC,HIGH,0,1,1,0,0,0,0,0,0,1,1,HIGH
4,ARID1A,HIGH,1,1,1,0,0,0,1,0,0,1,1,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,TSC2,POSSIBLE,0,0,0,0,0,0,0,0,0,1,1,MEDIUM
147,TSHR,POSSIBLE,0,0,0,0,0,0,0,0,0,1,1,MEDIUM
148,XPA,POSSIBLE,0,0,0,0,0,0,0,0,0,1,1,MEDIUM
149,XPC,POSSIBLE,0,0,0,0,0,0,0,0,0,1,1,MEDIUM
150,ZRSR2,POSSIBLE,0,0,0,0,0,0,0,0,0,1,1,MEDIUM

In [91]:
Oncogenes = list(df_f['Oncogenes_Gsea_2018'])
Oncogenes = [x for x in Oncogenes if str(x) != 'nan']

SupresoresTumor = list(df_f['TumorSuppresor_Gsea_2018'])
SupresoresTumor = [x for x in SupresoresTumor if str(x) != 'nan']

Intogen = list(df_f['INTOGEN_2018'])
Intogen = [x for x in Intogen if str(x) != 'nan']

Yates = list(df_f['Yates_2017'])
Yates = [x for x in Yates if str(x) != 'nan']

Intogen2020 = list(df_f['Intogen_2020'])
Intogen2020 = [x for x in Intogen2020 if str(x) != 'nan']

Otro = list(df2['Unnamed: 0'])
Otro = [x for x in Otro if str(x) != 'nan']

all_lst = list(Oncogenes)+ list(SupresoresTumor) + list(Intogen) + list(Yates) + list(Intogen2020) + list(Otro)

In [92]:
lst = []
for i in df.Gene_name:
    if i in Oncogenes:
        lst.append('True')
    else:
        lst.append('False')
df['Oncogenes'] = lst

In [93]:
lst = []
for i in df.Gene_name:
    if i in SupresoresTumor:
        lst.append('True')
    else:
        lst.append('False')
df['SupresoresTumor'] = lst

In [94]:
lst = []
for i in df.Gene_name:
    if i in Intogen:
        lst.append('True')
    else:
        lst.append('False')
df['Intogen'] = lst

In [95]:
lst = []
for i in df.Gene_name:
    if i in Yates:
        lst.append('True')
    else:
        lst.append('False')
df['Yates'] = lst

In [96]:
lst = []
for i in df.Gene_name:
    if i in Intogen2020:
        lst.append('True')
    else:
        lst.append('False')
df['Intogen2020'] = lst

In [97]:
lst = []
for i in df.Gene_name:
    if i in Intogen2020:
        lst.append('True')
    else:
        lst.append('False')
df['Otro'] = lst

In [98]:
len(all_lst)

982

In [99]:
all_lst = set(all_lst)
len(set(all_lst))

603

In [100]:
lst = []
for i in df.Gene_name:
    if i in all_lst:
        lst.append('True')
    else:
        lst.append('False')
df['all_lists'] = lst

In [102]:
#df[df['all_lists']== 'True']

In [103]:
#df.to_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/tsv/merge_withlist.csv')
df.to_csv('/home/fer/Documents/cfDNA/Programs/FREEC/con_gem_mapability/tsv/merge_withlist.csv')