In [1]:
import pandas as pd
import requests
import json
import io
from tqdm import tqdm

In [2]:
url = 'https://genome.ucsc.edu/cgi-bin/hgTables?hgsid=1442153227_FWCo6wJtrFjEzVt07A5mEs5LeL3m'    
session = requests.Session()

params = {
        'hgsid': '1442153227_FWCo6wJtrFjEzVt07A5mEs5LeL3m',
        'jsh_pageVertPos': '0',
        'clade': 'mammal',
        'org': 'Human',
        'db': 'hg19',
        'hgta_group': 'genes',
        'hgta_track': 'refSeqComposite',
        'hgta_table': 'ncbiRefSeq',
        'hgta_regionType': 'genome',
        'hgta_outputType': 'primaryTable',
        'boolshad.sendToGalaxy': '0',
        'boolshad.sendToGreat': '0',
        'boolshad.sendToGenomeSpace': '0',
        'hgta_outFileName': '',
        'hgta_compressType': 'none',
        'hgta_doTopSubmit': 'get output'
    }

response = session.post(url, data=params)
df = pd.read_csv(io.StringIO(response.text), sep='\t')
df

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,0,NM_001376549.1,chr1,+,66999043,67216822,67000041,67208778,23,"66999043,66999928,67091529,67098752,67101626,6...","66999090,67000051,67091593,67098777,67101698,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,0,1,0,1,2,1,1,1,0,1,1,2,2,0,2,1,1,"
1,0,NM_001376535.1,chr1,+,66999043,67216822,67000041,67208778,26,"66999043,66999928,67091529,67098752,67101626,6...","66999090,67000051,67091593,67098777,67101698,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0..."
2,0,NM_001376554.1,chr1,+,66999275,67216822,67000041,67208778,21,"66999275,66999928,67091529,67098752,67105459,6...","66999355,67000051,67091593,67098777,67105516,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,1,0,1,2,1,1,1,0,1,2,2,0,2,1,1,"
3,0,NM_001376551.1,chr1,+,66999275,67216822,67000041,67208778,22,"66999275,66999928,67091529,67098752,67105459,6...","66999355,67000051,67091593,67098777,67105516,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,1,0,1,2,1,1,1,0,1,1,2,2,0,2,1,1,"
4,0,NM_001308203.2,chr1,+,66999275,67216822,67000041,67208778,22,"66999275,66999928,67091529,67098752,67105459,6...","66999355,67000051,67091593,67098777,67105516,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,1,0,1,2,1,1,1,0,1,1,2,2,0,2,1,1,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91297,585,NM_001242480.3,chr7_gl000195_random,-,42937,86735,44723,49117,4,"42937,48954,74120,86517,","44923,49119,74180,86735,",0,LOC389831,cmpl,cmpl,"1,0,-1,-1,"
91298,585,NM_001347680.2,chr7_gl000195_random,-,42937,86735,46775,49117,3,"42937,48954,86517,","46801,49119,86735,",0,LOC389831,cmpl,cmpl,"1,0,-1,"
91299,585,NM_001347681.2,chr7_gl000195_random,-,42937,86735,44723,49117,3,"42937,48954,86517,","44923,49119,86735,",0,LOC389831,cmpl,cmpl,"1,0,-1,"
91300,585,NR_144628.2,chr7_gl000195_random,-,42937,86735,86735,86735,2,"42937,86517,","44923,86735,",0,LOC389831,none,none,"-1,-1,"
91301,585,NR_003682.1,chr17_gl000205_random,+,116622,119732,119732,119732,1,"116622,","119732,",0,MGC70870,none,none,"-1,"

In [3]:
df = df.drop_duplicates(subset=["name2"])
df

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
0,0,NM_001376549.1,chr1,+,66999043,67216822,67000041,67208778,23,"66999043,66999928,67091529,67098752,67101626,6...","66999090,67000051,67091593,67098777,67101698,6...",0,SGIP1,cmpl,cmpl,"-1,0,1,2,0,0,0,1,0,1,2,1,1,1,0,1,1,2,2,0,2,1,1,"
27,1,NM_001379618.1,chr1,+,8378173,8404225,8385993,8404073,7,"8378173,8385877,8390268,8395496,8397875,839955...","8378246,8386102,8390996,8395650,8398052,839975...",0,SLC45A1,cmpl,cmpl,"-1,0,1,0,1,1,0,"
33,1,NM_001145278.2,chr1,+,16767218,16786573,16767256,16785385,8,"16767218,16770126,16774364,16774554,16775587,1...","16767270,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,2,"
36,1,NM_013943.3,chr1,+,25071937,25170812,25072044,25167428,6,"25071937,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",0,CLIC4,cmpl,cmpl,"0,0,2,2,1,0,"
37,1,NM_001376727.1,chr1,+,33546753,33589093,33557656,33585783,10,"33546753,33546991,33549554,33557650,33558882,3...","33546895,33547109,33549728,33557823,33559017,3...",0,AZIN2,cmpl,cmpl,"-1,-1,-1,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91288,585,NR_111920.1,chr22_kb663609_alt,-,60982,65365,65365,65365,9,"60982,61334,61930,62325,62657,63267,63516,6422...","61236,61476,62118,62467,62834,63427,63669,6439...",0,LOC101929829,none,none,"-1,-1,-1,-1,-1,-1,-1,-1,-1,"
91291,585,NR_038377.1,chr4_gl000193_random,-,49161,88375,88375,88375,6,"49161,50561,59868,75048,75487,88199,","49618,50619,59956,75288,75675,88375,",0,LINC01667,none,none,"-1,-1,-1,-1,-1,-1,"
91292,585,NR_046439.2,chr4_gl000194_random,-,53588,115073,115073,115073,8,"53588,54677,55445,56021,57454,58327,112791,114...","53892,54832,55676,56999,57619,58998,112850,115...",0,MAFIP,none,none,"-1,-1,-1,-1,-1,-1,-1,-1,"
91296,585,NM_001347682.2,chr7_gl000195_random,-,42937,86735,46775,49117,4,"42937,48954,74120,86517,","46801,49119,74180,86735,",0,LOC389831,cmpl,cmpl,"1,0,-1,-1,"
91301,585,NR_003682.1,chr17_gl000205_random,+,116622,119732,119732,119732,1,"116622,","119732,",0,MGC70870,none,none,"-1,"

In [6]:
bed_genes = pd.read_csv('/home/fer/Documents/cfDNA/Tumor/GenesPanel.csv')
bed_genes

                   Cellular process     Gene
0    Transcription factor/regulator      VHL
1                               NaN    GATA3
2                               NaN    TSHZ3
3                               NaN    EP300
4                               NaN     CTCF
..                              ...      ...
122                             NaN      PRX
123                             NaN    CRPAK
124                             NaN     EGR3
125                             NaN  B4GAL53
126                             NaN   MIR142

[127 rows x 2 columns]

In [14]:
df_bd = pd.DataFrame()
for i in bed_genes.Gene:
    if i not in list(df['name2']):
         print('No estuvo', i)
    else:
        df_i = df[df['name2']==i]
        df_bd = pd.concat([df_bd, df_i])

df_bd

No estuvo MLL3
No estuvo MLL3
No estuvo NSSD1
No estuvo MLL4
No estuvo CDKNA2
No estuvo HIST1H1C
No estuvo H3F3C
No estuvo HIST1H2BD
No estuvo NEF2L2
No estuvo NEF2L3
No estuvo CRPAK
No estuvo B4GAL53

,#bin,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,score,name2,cdsStartStat,cdsEndStat,exonFrames
16583,662,NM_198156.3,chr3,+,10183461,10195351,10183531,10191649,2,"10183461,10191470,","10183871,10195351,",0,VHL,cmpl,cmpl,"0,1,"
45884,646,NM_002051.3,chr10,+,8096650,8117161,8097618,8115986,6,"8096650,8097249,8100267,8105958,8111435,8115701,","8096854,8097859,8100804,8106101,8111561,8117161,",0,GATA3,cmpl,cmpl,"-1,0,1,1,0,0,"
73391,103,NR_138036.2,chr19,-,31640781,31840342,31840342,31840342,5,"31640781,31647261,31695861,31718910,31840085,","31642650,31647323,31695984,31719046,31840342,",0,TSHZ3,none,none,"-1,-1,-1,-1,-1,"
81158,112,NM_001362843.2,chr22,+,41488595,41576081,41489008,41574960,30,"41488595,41513190,41521867,41523490,41525893,4...","41489102,41513825,41522044,41523752,41526007,4...",0,EP300,cmpl,cmpl,"0,1,0,0,1,1,1,2,2,0,1,0,0,0,0,1,0,0,2,2,2,2,1,..."
64722,137,NM_001191022.2,chr16,+,67596428,67673080,67650679,67671775,10,"67596428,67605050,67650647,67654599,67655344,6...","67596627,67605167,67650781,67654720,67655494,6...",0,CTCF,cmpl,cmpl,"-1,-1,0,0,1,1,0,0,1,1,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41252,136,NM_000044.6,chrX,+,66763862,66950461,66764988,66943683,8,"66763862,66863097,66905851,66931243,66937319,6...","66766604,66863249,66905968,66931531,66937464,6...",0,AR,cmpl,cmpl,"0,2,1,1,1,2,1,0,"
22806,109,NM_001127671.2,chr5,-,38474769,38556748,38481696,38530749,20,"38474769,38482690,38484876,38485920,38489179,3...","38482320,38482769,38484970,38486082,38489347,3...",0,LIFR,cmpl,cmpl,"0,2,1,1,1,1,1,0,1,0,1,2,1,1,0,1,2,1,0,-1,"
75967,897,NM_020956.2,chr19,-,40899670,40919271,40904463,40913839,6,"40899670,40909612,40913812,40914064,40914246,4...","40904723,40909769,40913938,40914163,40914290,4...",0,PRX,cmpl,cmpl,"1,0,0,-1,-1,-1,"
36149,757,NM_001199880.2,chr8,-,22545171,22549877,22547985,22549854,2,"22545171,22549814,","22548995,22549877,",0,EGR3,cmpl,cmpl,"1,0,"
70425,1015,NR_029683.1,chr17,-,56408592,56408679,56408679,56408679,1,"56408592,","56408679,",0,MIR142,none,none,"-1,"

In [17]:
bed_tumor = pd.DataFrame({'chr':df_bd['chrom'], 'start': df_bd['txStart'], 'end': df_bd['txEnd']})
bed_tumor

         chr     start       end
16583   chr3  10183461  10195351
45884  chr10   8096650   8117161
73391  chr19  31640781  31840342
81158  chr22  41488595  41576081
64722  chr16  67596428  67673080
...      ...       ...       ...
41252   chrX  66763862  66950461
22806   chr5  38474769  38556748
75967  chr19  40899670  40919271
36149   chr8  22545171  22549877
70425  chr17  56408592  56408679

[115 rows x 3 columns]

In [18]:
bed_tumor = bed_tumor.set_index('chr')
bed_tumor

          start       end
chr
chr3   10183461  10195351
chr10   8096650   8117161
chr19  31640781  31840342
chr22  41488595  41576081
chr16  67596428  67673080
...         ...       ...
chrX   66763862  66950461
chr5   38474769  38556748
chr19  40899670  40919271
chr8   22545171  22549877
chr17  56408592  56408679

[115 rows x 2 columns]

In [19]:
bed_tumor.to_csv('/home/fer/BED_tumor.csv', sep='\t')